{% extends "base.html" %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <thread>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thread>
        <tbody>
            {% for receipts in receipt_list %}
            <tr>
                <td>{{ receipts.vendor }}</td>
                <td>{{ receipts.total }}</td>
                <td>{{ receipts.tax }}</td>
                <td>{{ receipts.date|date:"m/d/y" }}</td>
                <td>{{ receipts.category.name }}</td>
                <td>{{ receipts.account.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
